body {
  height: 100vh;

  main {
    height: 100%;
    width: 100%;
    display: flex;

    // aside start
    .aside {
      background-color: $color-salute;
      width: 230px;
      height: 100%;
      ul {
        padding-top: 20px;
        padding-left: 20px;
        li {
          padding-top: 20px;
          display: flex;
          align-items: center;
          column-gap: 10px;
          cursor: pointer;
          span {
            background-color: $color-turbulence;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include fontStyle(
              $font-family-poppins,
              $font-size-xs,
              12px,
              $color-white,
              600
            );

            &:hover {
              transform: translateY(-2px);
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              transition: 0.3s ease-in-out;
            }
          }
          h3 {
            @include fontStyle(
              $font-family-poppins,
              $font-size-sm,
              21px,
              $color-mirage-blue,
              400
            );
          }
        }
      }
    }
    // aside end

    //section start
    .section {
      background-color: $color-white-solid;
      width: 100%;
      height: 100%;
      .section-head {
        border-bottom: 1px solid $color-dissolved-denim;
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        @include fontStyle(
          $font-family-poppins,
          $font-size-lg,
          27px,
          $color-salute,
          500
        );
      }
      .section-content {
        padding: 30px;
      }
      .section-end {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.16);
        height: 80px;
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding: 0 30px;
        }
        .back {
          margin-left: 200px;
        }
        @keyframes slideInFromBottom {
          0% {
            transform: translateY(100%);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
        .error {
          width: Hug (156px);
          height: Hug (42px);
          border-radius: 2px;
          background-color: $color-brasso;
          display: flex;
          align-items: center;
          column-gap: 10px;
          padding: 10px 20px;
          text-transform: uppercase;
          animation: fadeIn 1s ease-in-out;
          display: none;

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          p {
            @include fontStyle(
              $font-family-poppins,
              $font-size-xs,
              18px,
              $color-white,
              500
            );
            animation: fadeIn 0.5s ease-in-out;
          }
        }
      }
    }
    //section end
  }
}

.active {
  span {
    background-color: $color-emerald-reflection !important;
  }
  h3 {
    color: $color-emerald-reflection !important;
  }
}

.done {
  span {
    background-color: $color-C64-purple !important;
  }
  h3 {
    color: $color-white !important;
  }
}
