$color-emerald-reflection: #53d56c;
$color-turbulence: #4d545a;
$color-mirage-blue: #626c76;
$color-salute: #292d32;
$color-applause-please: #828f9a;
$color-C64-purple: #6c70dc;
$color-brasso: #f4be6c;
$color-forest-maid: #4fbf65;
$color-dissolved-denim: #e3eaf3;
$color-pearl: #f7f8fb;
$color-lost-at-sea: #8f9ca7;
$color-lost-at-sea: #8f9ca7;
$color-white: #ffff;
