$color_emerald_reflection: #53d56c;
$color_turbulence: #4d545a;
$color_mirage_blue: #626c76;
$color_salute: #292d32;
$color_applause_please: #828f9a;
$color_C64_purple: #6c70dc;
$color_brasso: #f4be6c;
$color_forest_maid: #4fbf65;
$color_dissolved_denim: #f7f8fb;
$color_lost_at_sea: #8f9ca7;
$color-white: #ffff;
